<div class="background">
    <section class="mw-1920">
        <div>
            <h6 class="category-h6-blue">KAMPAGNENPLANUNG</h6>
            <h2 class="category-h2">Strategische Kampagnenplanung</h2>
            <p class="category-p">Gemeinsam mit Ihnen entwickeln wir eine klare, datengestützte Marketingstrategie. Ob
                Branding, Produktlaunch oder Leadgenerierung – wir erstellen Kampagnen mit messbaren Zielen, abgestimmt auf
                Ihre Marke, Branche und Budget. Dabei berücksichtigen wir sowohl organische als auch bezahlte Kanäle.</p>
        </div>
        <img src="/assets/img/marketing/campaign.png" alt="campaign">
    </section>
    <div class="background-image"></div>
</div>