@use './../../../../styles.scss' as *;

.background {
    @include width-height(100vw, 100px);
    background-color: white;
}

section {
    @include flex-position($jc: space-between);

    img {
        @include width-height(200px, 100%);
        object-fit: contain;
    }

    nav {
        @include flex-position();
        gap: 40px;

        button {
            @include font-style(20px, 700);
            color: black;
            margin-left: 10px;
            background-color: transparent;
            padding: 10px 20px;

            &:hover {
                transition: 250ms;
                color: white;
                background-color: $blue;
            }
        }
    }
}