<div class="background">
    <section class="mw-1920">
        <a href="">
            <img src="/assets/logo/logo.png" alt="Procetix Logo">
        </a>
        <nav>
            <div class="custom-underline">
                <a href="#aot" [class.active]="activeSection === 'aot'">Startseite</a>
                <div></div>
            </div>
            <div class="custom-underline">
                <a href="#about-us" [class.active]="activeSection === 'about-us'">Über uns</a>
                <div></div>
            </div>
            <div class="custom-underline">
                <a href="#products" [class.active]="activeSection === 'products'">Dienstleistungen</a>
                <div></div>
            </div>
            <a href="#contact" class="contact-link" mat-flat-button>KONTAKT</a>
        </nav>
    </section>
</div>