@use './../../../../styles.scss' as *;

section {
    @include width-height(100vw, 100px);
    @include flex-position($jc: space-between);
    padding: 0 $padding-side;
    background-color: white;

    img {
        @include width-height(200px, 100%);
        object-fit: contain;
    }

    nav {
        @include flex-position();
        gap: 40px;

        .link {
            @include flex-position($ai: center, $jc: center);
            position: relative;
            overflow: hidden;
            height: 35px;

            a {
                @include font-style(18px, 400);

                &:hover {
                    transition: 125ms;
                    color: $blue;
                }
            }

            .underline {
                @include width-height(100%, 3px);
                position: absolute;
                background-color: $blue;
                margin-top: 32px;
                opacity: 0;
                transform: translateY(5px);
                transition: all 0.3s ease;
                pointer-events: none;
            }

            &:hover .underline {
                opacity: 1;
                transform: translateY(0px);
            }
        }

        button {
            @include font-style(20px, 700);
            color: black;
            margin-left: 10px;
            background-color: transparent;
            padding: 10px 20px;

            &:hover {
                transition: 250ms;
                color: white;
                background-color: $blue;
            }
        }
    }
}