<div class="background">
    <section class="mw-1920">
        <img src="/assets/logo/logo.png" alt="Procetix Logo">
        <nav>
            <div class="custom-underline">
                <a href="">Startseite</a>
                <div></div>
            </div>
            <div class="custom-underline">
                <a href="">Über</a>
                <div></div>
            </div>
            <div class="custom-underline">
                <a href="">Dienstleistungen</a>
                <div></div>
            </div>
            <button mat-flat-button>KONTAKT</button>
        </nav>
    </section>
</div>