<section>
    <img src="/assets/logo/logo.png" alt="Procetix Logo">
    <nav>
        <div class="link">
            <a href="">Startseite</a>
            <div class="underline"></div>
        </div>
        <div class="link">
            <a href="">Über</a>
            <div class="underline"></div>
        </div>
        <div class="link">
            <a href="">Dienstleistungen</a>
            <div class="underline"></div>
        </div>
        <button mat-flat-button>KONTAKT</button>
    </nav>
</section>
