<div class="background">
    <section class="mw-1920">
        <div>
            <h6 class="category-h6-blue">OPTIMIERUNG & SEO</h6>
            <h2 class="category-h2">Gefunden werden und überzeugen</h2>
            <p class="category-p">
                Wir sorgen für schnelle Ladezeiten, sauberen Code und suchmaschinenfreundliche Struktur. Dazu gezielte
                Keyword-Strategien und technische SEO-Optimierung für Top-Performance bei Google & Co.</p>
        </div>
        <img src="/assets/img/web-development/optimize.png" alt="campaign">
    </section>
</div>