@use './../../../styles.scss' as *;
@use './../landing-page.component.scss' as landing;

section {
    @include width-height(100%, 80%);
    @include flex-position($fd: column, $ai: flex-start);
    padding: 0 $padding-side;
    background-color: #ebebeb;

    div {
        @include flex-position($fd: row, $jc: space-between);
        @include width-height(100%);
        margin-top: 52px;
    }
}