@use './../../../styles.scss' as *;

.background {
    margin-top: $header-height;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        radial-gradient(circle, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.5) 100%), url('/assets/img/faq-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

section {
    @include flex-position($fd: column, $ai: flex-start);
    color: white;

    h5 {
        @include font-style(24px, 400, 32px);
        margin-top: 16px;
    }
}