<div class="background">
    <section class="mw-1920">
        <p class="mb-20"><b>Informationen und Offenlegung gemäß &sect;5 (1) ECG, &sect; 25 MedienG, &sect; 63 GewO und
                &sect; 14
                UGB</b>
        </p>
        <p class="mb-20"><b>Webseitenbetreiber:</b> <br> Albin Schmid, Marcel Schmid</p>
        <p class="mb-20"><b>Anschrift:</b> <br> Oberried 60, 6444 Längenfeld</p>
        <p class="mb-20"><b>Kontaktdaten:</b> <br> Telefon: <a href="tel:069911345685" class="grey-a">+43 699 113 456
                85</a>, <a href="tel:06606330710" class="grey-a">+43 660 633 071 0</a> <br> Email: <a
                href="mailto:contact@albin-schmid.com" class="grey-a">contact&#64;albin-schmid.com</a>, <a
                href="mailto:m.schmid5@gmx.net" class="grey-a">m.schmid5&#64;gmx.net</a> <br></p>

        <p class="mb-20"><b>Anwendbare Rechtsvorschrift:</b> <br> <a href="https://www.ris.bka.gv.at"
                class="grey-a">www.ris.bka.gv.at</a></p>
        <p class="mb-20"><b>Online Streitbeilegung:</b> <br> Verbraucher, welche in Österreich oder in einem sonstigen
            Vertragsstaat der
            ODR-VO
            niedergelassen sind, haben die Möglichkeit Probleme bezüglich dem entgeltlichen Kauf von Waren oder
            Dienstleistungen
            im Rahmen einer Online-Streitbeilegung (nach OS, AStG) zu lösen. Die Europäische Kommission stellt eine
            Plattform
            hierfür bereit: <a href="https://ec.europa.eu/consumers/odr"
                class="grey-a">https://ec.europa.eu/consumers/odr</a></p>
        <p class="mb-20"><b>Urheberrecht:</b> <br> Die Inhalte dieser Webseite unterliegen, soweit dies rechtlich
            möglich ist, diversen
            Schutzrechten (z.B dem Urheberrecht). Jegliche Verwendung/Verbreitung von bereitgestelltem Material, welche
            urheberrechtlich untersagt ist, bedarf schriftlicher Zustimmung des Webseitenbetreibers.</p>
        <p class="mb-20"><b>Haftungsausschluss:</b> <br> Trotz sorgfältiger inhaltlicher Kontrolle übernimmt der
            Webseitenbetreiber dieser
            Webseite
            keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren
            Betreiber verantwortlich. Sollten Sie dennoch auf ausgehende Links aufmerksam werden, welche auf eine
            Webseite
            mit
            rechtswidriger Tätigkeit/Information verweisen, ersuchen wir um dementsprechenden Hinweis, um diese nach §
            17
            Abs. 2
            ECG umgehend zu entfernen.<br>Die Urheberrechte Dritter werden vom Betreiber dieser Webseite mit größter
            Sorgfalt
            beachtet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
            entsprechenden Hinweis. Bei Bekanntwerden derartiger Rechtsverletzungen werden wir den betroffenen Inhalt
            umgehend
            entfernen.</p>
        <p>Quelle: <a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php" class="grey-a">Impressum
                Generator
                Österreich</a></p>
    </section>
</div>