@use './../../../styles.scss' as *;
@use './../landing-page.component.scss' as landing;

section {
    @include width-height(100%, 80%);
    @include flex-position($fd: row, $jc: space-between);
    padding: 0 $padding-side;

    div {
        h1 {
            max-width: 800px;
        }

        a {
            @include font-style($fs: 20px, $fw: 500);
            color: $grey;
            text-decoration: underline;

            &:hover {
                transition: 125ms;
                text-decoration: none;
                color: $blue;
            }
        }
    }

    img {
        @include width-height(450px);
    }


}