<div class="background">
    <section class="mw-1920">
        <div>
            <h6 class="category-h6-blue">EFFIZIENTE PROZESSOPTIMIERUNG</h6>
            <h2 class="category-h2">Digitale Lösungen für Ihr Unternehmen</h2>
            <p class="category-p">Maximieren Sie Ihre Effizienz mit maßgeschneiderten Lösungen.</p>
            <a href="#contact" class="grey-a">Kontaktieren Sie uns</a>
        </div>
        <img src="/assets/img/landing-page/about-us.png" alt="city-image">
    </section>
</div>