<div class="background">
    <section class="mw-1920">
        <h6 class="category-h6-blue">SICHERHEIT, WARTUNG & SUPPORT</h6>
        <h2 class="category-h2">Sicherheit, Wartung & Support</h2>
        <p class="category-p">Auch nach dem Go-Live sind wir für Sie da: Wir kümmern uns um alles, was im Hintergrund wichtig ist:</p>
        <ul>
            <li>Regelmäßige Sicherheits- und Systemupdates</li>
            <li>Überwachung von Serverlast, SSL-Zertifikaten und Erreichbarkeit</li>
            <li>Backups und Wiederherstellungspläne</li>
            <li>Datenschutz (DSGVO), Cookie-Banner und rechtssichere Umsetzung</li>
        </ul>
       <p class="category-p">Sie erhalten auf Wunsch Supportverträge, automatische Wartungspakete oder individuelle Betreuung.</p>
    </section>
</div>