<div class="background">
    <section class="mw-1920">
        <div>
            <h6 class="category-h6-blue">VORTEILE</h6>
            <h2 class="category-h2">Unsere Vorteile</h2>
            <ul>
                <li>Schnellere Abläufe</li>
                <li>Weniger Fehler durch Automatisierung</li>
                <li>Bessere Zusammenarbeit</li>
                <li>Skalierbarkeit für Wachstum</li>
            </ul>
        </div>
        <a href="project-inquiry" class="grey-a">Jetzt kostenlos Erstgespräch vereinbaren ></a>
    </section>
</div>