<div class="background">
    <section class="mw-1920">
        <h6 class="category-h6-blue">ENTWICKLUNG & TECHNISCHE UMSETZUNG</h6>
        <h2 class="category-h2">Modern, robust und wartbar</h2>
        <p class="category-p">Unsere technische Umsetzung erfolgt mit modernen Webtechnologien wie Angular im Frontend
            und Django im Backend. Wir achten auf:</p>
        <ul>
            <li>Schnellere Abläufe</li>
            <li>Weniger Fehler durch Automatisierung</li>
            <li>Bessere Zusammenarbeit</li>
            <li>Skalierbarkeit für Wachstum</li>
        </ul>
    </section>
    <div class="background-image"></div>
</div>