<div class="background">
    <section class="mw-1920">
        <p class="mb-20"><b>Erklärung zur Informationspflicht</b></p>
        <p class="mb-20"><b>Datenschutzerklärung</b></p>
        <p class="mb-20">In folgender Datenschutzerklärung informieren wir Sie über die wichtigsten Aspekte der
            Datenverarbeitung im Rahmen unserer Webseite. Wir erheben und verarbeiten personenbezogene Daten nur auf
            Grundlage der gesetzlichen Bestimmungen (Datenschutzgrundverordnung, Telekommunikationsgesetz 2003).</p>
        <p class="mb-20">Sobald Sie als Benutzer auf unsere Webseite zugreifen oder diese besuchen, wird Ihre
            IP-Adresse, Beginn sowie Ende der Sitzung erfasst. Dies ist technisch bedingt und stellt somit ein
            berechtigtes Interesse iSv Art 6 Abs 1 lit f DSGVO dar.</p>
        <p class="mb-20"><b>Kontakt mit uns</b></p>
        <p class="mb-20">Wenn Sie uns, entweder über unser Kontaktformular auf unserer Webseite oder per E-Mail
            kontaktieren, dann werden die von Ihnen an uns übermittelten Daten zwecks Bearbeitung Ihrer Anfrage oder für
            den Fall von weiteren Anschlussfragen für sechs Monate bei uns gespeichert. Es erfolgt, ohne Ihre
            Einwilligung, keine Weitergabe Ihrer übermittelten Daten.</p>
        <p class="mb-20"><b>Ihre Rechte als Betroffener</b></p>
        <p class="mb-20">Sie als Betroffener haben bezüglich Ihrer Daten, welche bei uns gespeichert sind, grundsätzlich
            ein Recht auf:</p>
        <ul class="mb-20">
            <li>Auskunft</li>
            <li>Löschung der Daten</li>
            <li>Berichtigung der Daten</li>
            <li>Übertragbarkeit der Daten</li>
            <li>Widerruf und Widerspruch zur Datenverarbeitung</li>
            <li>Einschränkung</li>
        </ul>
        <p class="mb-20">Wenn Sie vermuten, dass im Zuge der Verarbeitung Ihrer Daten Verstöße gegen das
            Datenschutzrecht passiert sind, so haben Sie die Möglichkeit sich bei uns (<a
                href="mailto:contact@albin-schmid.com" class="grey-a">contact&#64;albin-schmid.com</a>, <a
                href="mailto:m.schmid5@gmx.net" class="grey-a">m.schmid5&#64;gmx.net</a>) oder der Datenschutzbehörde zu
            beschweren.</p>
        <p class="mb-20"><b>Sie erreichen uns unter folgenden Kontaktdaten:</b></p>
        <p class="mb-20"><b>Webseitenbetreiber:</b> <br> Albin Schmid, Marcel Schmid<br> <br>
            <b>Telefonnummer:</b> <br> <a href="tel:069911345685" class="grey-a">+43 699 113 456 85</a>, <a
                href="tel:06606330710" class="grey-a">+43 660 633 071 0</a><br> <br>
            <b>Email:</b> <br> <a href="mailto:contact@albin-schmid.com" class="grey-a">contact&#64;albin-schmid.com</a>, <a
                href="mailto:m.schmid5@gmx.net" class="grey-a">m.schmid5&#64;gmx.net</a>
        </p>
        <p class="mb-20">Quelle: <a
                href="https://www.fairesrecht.at/kostenlos-datenschutzerklaerung-erstellen-generator.php"
                class="grey-a">Datenschutzgenerator Österreich DSGVO</a></p>

    </section>
</div>