<div class="background">
    <section class="mw-1920">
        <h6 class="category-h6-blue">DIENSTLEISTUNGEN</h6>
        <h2 class="category-h2">Unsere Dienstleistungen</h2>
        <div class="services-grid">
            <article>
                <h4>Ablaufanalyse</h4>
                <p>Wir analysieren Ihre bestehenden Arbeitsabläufe und identifizieren Schwachstellen, Engpässe oder
                    unnötige Schritte. Ziel ist es, versteckte Potenziale zur Effizienzsteigerung aufzudecken –
                    individuell auf Ihr Unternehmen abgestimmt.</p>
            </article>
            <article>
                <h4>Digitale Automatisierung</h4>
                <p>Wiederkehrende, manuelle Aufgaben werden durch digitale Lösungen automatisiert. So sparen Sie Zeit,
                    vermeiden Fehler und entlasten Ihre Mitarbeiter – damit sie sich auf das Wesentliche konzentrieren
                    können.

                </p>
            </article>
            <article>
                <h4>Schnittstellen & Integration:</h4>
                <p>Wir verbinden Ihre bestehenden Systeme (z. B. Buchhaltung, CRM, Warenwirtschaft) über moderne
                    Schnittstellen. Das ermöglicht zentrale Steuerung, reibungslose Abläufe und vermeidet doppelte
                    Datenpflege.</p>
            </article>
            <article>
                <h4>Monitoring & Reporting</h4>
                <p>Durch transparente Dashboards und automatische Berichte behalten Sie jederzeit den Überblick über
                    Ihre Prozesse. Entscheidungen lassen sich datenbasiert treffen – schnell und fundiert.</p>
            </article>
        </div>
    </section>

</div>