<div class="background">
    <section class="mw-1920">
        <div class="links">
            <div class="custom-underline">
                <a href="faq">Häufige gestellte Fragen</a>
                <div></div>
            </div>
            <div class="custom-underline">
                <a href="project-inquiry">Unverbindliche Anfrage</a>
                <div></div>
            </div>
        </div>
        <footer>
            <a href="">
                <img src="/assets/logo/logo-white.png" alt="Procetix Logo">
            </a>
            <p>© 2025 Procetix GmbH</p>
            <div class="footer-links">
                <div class="custom-underline">
                    <a href=""> Datenschutz</a>
                    <div></div>
                </div>
                <div class="custom-underline">
                    <a href="">Impressum</a>
                    <div></div>
                </div>
            </div>
        </footer>
    </section>
</div>