@use './../../../../styles.scss' as *;

.background {
    @include width-height(100%, 200px);
    background-color: #141C26;
}

section {
    @include flex-position($ai: flex-start, $fd: column, $jc: space-between);
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;

    .links {
        @include flex-position();
        gap: 24px;

        a {
            @include font-style($fs: 18px, $fw: 400);
        }
    }

    footer {
        @include flex-position($ai: center, $jc: space-between);
        width: 100%;

        a {
            @include flex-position();
        }

        p {
            @include font-style($fs: 16px, $fw: 400);
            color: rgba($color: #ffffff, $alpha: 0.8);
        }

        img {
            @include width-height(200px, auto);
            object-fit: cover;
        }

        .footer-links {
            @include flex-position($ai: center, $jc: center);
            gap: 24px;
        }
    }
}

.custom-underline {
    height: 40px;

    div {
        margin-top: 37px;
    }
}