<div class="background">
    <section class="mw-1920">
        <h6 class="category-h6-blue">SICHTBARKEIT</h6>
        <h2 class="category-h2">Digitale Sichtbarkeit steigern</h2>
        <p class="category-p">Wir sorgen dafür, dass Ihre Marke online gefunden und wahrgenommen wird. Durch
            gezielte Suchmaschinenoptimierung (SEO), Performance-Marketing (Google Ads, Meta Ads),
            Social-Media-Präsenz und automatisiertes E-Mail-Marketing steigern wir nachhaltig Ihre Reichweite und
            machen aus Besuchern Kunden.</p>
    </section>
</div>