@use '@angular/material' as mat;
@use './../_theme-colors.scss' as *;

$blue: #007BE5;
$font-grey: #707070;
$div-light-grey: #ebebeb;
$padding-side: 100px;

html {
  @include mat.theme((color: (primary: $primary-palette,
        tertiary: mat.$orange-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0));
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

@mixin flex-position($d: flex, $fd: row, $ai: center, $jc: center) {
  display: $d;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin font-style($fs: 16px, $fw: 400, $lh: 1.2) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin width-height($w: auto, $h: auto) {
  width: $w;
  height: $h;
}

html {
  scroll-behavior: smooth;
}

app-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  @include font-style($fs: 64px, $fw: 700, $lh: 1.2);
}

p {
  @include font-style($fs: 18px, $fw: 400);
  color: $font-grey;
}

.category-h6-blue {
  @include font-style($fs: 16px, $fw: 600);
  color: $blue;
}

.category-h2 {
  @include font-style($fs: 40px, $fw: 600, $lh: 1.2);
  margin-top: 10px;
}

button {
  @include width-height(auto, auto);
}

mat-icon {
  font-family: 'Material Icons';
}

section {
  @include width-height(100%, 100%);
  padding: 96px $padding-side;
}

div {
  scroll-margin-top: 100px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: #000;
}

.mw-1920 {
  max-width: 1920px;
}

.custom-underline {
  @include flex-position($ai: center, $jc: center);
  position: relative;
  overflow: hidden;
  height: 35px;

  a {
    @include font-style(18px, 400);

    &:hover,
    &.active {
      transition: 125ms;
      color: $blue;
    }

    &:hover~div,
    &.active~div {
      opacity: 1 !important;
      transform: translateY(0px) !important;
    }
  }

  div {
    @include width-height(100%, 3px);
    position: absolute;
    background-color: $blue;
    margin-top: 32px;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.3s ease;
    pointer-events: none;
    border-radius: 30px 30px 0 0;
  }
}


@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('../public/fonts/poppins-v23-latin-100.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url('../public/fonts/poppins-v23-latin-100italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 200;
  src: url('../public/fonts/poppins-v23-latin-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 200;
  src: url('../public/fonts/poppins-v23-latin-200italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/poppins-v23-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('../public/fonts/poppins-v23-latin-300italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../public/fonts/poppins-v23-latin-italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/poppins-v23-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url('../public/fonts/poppins-v23-latin-500italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../public/fonts/poppins-v23-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('../public/fonts/poppins-v23-latin-600italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/poppins-v23-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url('../public/fonts/poppins-v23-latin-700italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../public/fonts/poppins-v23-latin-800.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url('../public/fonts/poppins-v23-latin-800italic.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../public/fonts/poppins-v23-latin-900.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 900;
  src: url('../public/fonts/poppins-v23-latin-900italic.woff2') format('woff2');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}